.container {
    background-color: pink;
    width: 500px;
    height: 100%;
    text-align: center;
    border: 3px solid black;
}

.seatBox {
    background-color: grey;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    display: inline-block;
}



.seatBox:nth-child(n+6):nth-child(-n+10) {
    background-color: red;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    display: inline-block;
}

.seatBox:nth-child(n+16):nth-child(-n+20) {
    background-color: red;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    display: inline-block;
}

.stage {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    bottom: 0px;
    margin: 5px auto 5px auto;
}
