.container {
    background-color: pink;
    width: 500px;
    height: 100%;
    text-align: center;
    border: 3px solid black;
}

.seatingHeader {
    font-family: cursive;
    font-size: 30px;
}

.seatBox {
    background-color: grey;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    display: inline-block;
    font-family: monospace;
    border-radius: 3px;

}

.rowCount{
margin-left: 5px;

}

.seatBox:hover {
    background-color: red;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    display: inline-block;
    font-family: monospace;
    border-radius: 3px;

}
.seatBox:nth-child(n+12):nth-child(-n+16) {
    background-color: green;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    display: inline-block;
}

.seatBox:nth-child(n+12):nth-child(-n+16):hover {
    background-color: red;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    display: inline-block;
}
.seatBox:nth-child(n+17):nth-child(-n+21) {
    background-color: teal;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    display: inline-block;
}

.seatBox:nth-child(n+22):nth-child(-n+25) {
    background-color: purple;
    padding: 5px;
    margin: 5px;
    width: 70px;
    height: 50px;
    display: inline-block;
}

.stage {
    background-color: black;
    color: white;
    width: 100px;
    height: 50px;
    bottom: 0px;
    margin: 5px auto 5px auto;
}

.formLoad{
background-color: grey;
width: 350px;
margin-left: auto;
margin-right: auto;
font-family: cursive;



}
